.order-container {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-top: 100px;
  text-align: center;
  box-shadow: 0 0 10px gray;
  padding: 20px;
}

.inpt {
  margin: auto;
  margin-top: 50px;
  width: 400px;
}

