.book-card {
  width: 300px;
  height: 400px;
  padding: 10px;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 0 10px gray;
  transition: all 0.5s ease-in-out;
  border-radius: 15px;
}

.book-card:hover {
  transform: scale(1.1);
}

button {
  width: 250px;
  margin: auto;
}
